@charset "UTF-8";

.path-mod-kakiemon .block-column {
	float: left;
	width: 30%;
	/*border:1px solid gray;*/
}

.path-mod-kakiemon .kaki-block {
	border: 1px solid #AAA;
	margin: 0 1em 1em 0;
}

/*
.path-mod-kakiemon .kaki-block /*h3/ {
	cursor: move;
}
*/

/*
.path-mod-kakiemon .kaki-block {
	border: 1px solid #AAA;
	width: 30%;
	float: left;
	margin: 0 1em 1em 0;
}
*/

.path-mod-kakiemon .editbutton,
.path-mod-kakiemon .blockeditbutton {
	float: right;
}

.path-mod-kakiemon .likebuttons {
	margin: 8px 0;
	text-align: center;
}
.path-mod-kakiemon .likebutton {
	border: 1px solid gray;
	border-radius: 5px;
	background: lavender;
	padding: 3px 8px;
	margin: 5px;
}
.path-mod-kakiemon .likecount {
	border: 1px solid gray;
	border-radius: 5px;
	padding: 2px 5px;
	font-size: 75%;
}
