@charset "utf-8"

@mixin roundborder
    border: 1px solid gray
    border-radius: 5px
@mixin dbgborder($color)
    // border: 1px solid $color
    // margin: 1px

.path-mod-kakiemon
    .textbutton
        cursor: pointer
        color: blue

    .menulinks, .page-author, .page-infolinks
        text-align: right
        margin: 0.5em 0

    .block-columns
        white-space: nowrap
        text-align: center

        &:after
            clear: both

    .block-column
        display: inline-block
        vertical-align: top
        margin-right: 10px
        text-align: left

    .block-column-blocks
        padding-bottom: 40px
        margin: 5px

    // ブロック
    .kaki-block
        border: 1px solid #aaa
        // margin: 0 1em 1em 0
        padding: 5px
        overflow: hidden

        // width: 97%
        // margin: auto

        white-space: normal

        margin: 1em auto

        position: relative

        h3
            margin: 0
            text-align: left

        // iframe
        .iframewrap
            text-align: center
            width: 100%
            height: 100%

            iframe
                width: 96%
                height: 94%

        // 画像
        .block-image
            max-width: 96%
            // max-height: 94%
            margin: auto
            display: block

        // 動画
        .mediaplugin
            object, video
                width: auto
                height: auto
                max-width: 96%
                // max-height: 94%

    .editbutton, .blockeditbutton
        float: right
    .blockeditbuttons
        margin-bottom: 5px
    .likebuttons, #rating
        margin: 8px 0
        text-align: center
    #newblocks li
        @include roundborder
        cursor: move
        list-style-type: none
        width: 200px
        margin: 5px
        padding: 4px

    .feedbacks
        .feedback
            width: 100%
            color: #444
            .userpiccell
                width: 50px
            .namecomment
                background: #f8f8f8
            .namedate
                font-size: 80%
            .comment
                margin-top: 0.5em
                font-size: 90%
            .actionicons
                float: right
        #showfeedbackform
            margin-bottom: 20px

    textarea.code
        font: 90% monospace
    .likebutton
        @include roundborder
        background: lavender
        padding: 3px 8px
        margin: 5px
    .likecount
        @include roundborder
        padding: 2px 5px
        font-size: 75%
    .page-grade
        margin: 2em

    .thumbnailweb_free_ss
        max-width: 100%
    .accesses
        margin: auto
        td
            vertical-align: middle

    // PDF 出力専用
    &.pdf
        .logininfo,
        .page-infolinks,
        #rating .singleselect,
        .editbutton,
        .feedback .actionicons,
        #showfeedbackform,
        #page-footer
            display: none
